<div class="dialog-message-{{#if direction-from}}from{{else}}to{{/if}}">
  <div class="dialog-message-content-{{#if direction-from}}from{{else}}to{{/if}}">
    <div>{{ message }}</div>
    <div class="message-date-{{#if direction-from}}from{{else}}to{{/if}}">
      {{#unless direction-from}}<span class="mdi mdi-check-all"></span>{{/unless}}
      {{ date }}
    </div>
  </div>
</div>
