<div class="profile-input-field">
  <label class="input-field-label">{{ label }}</label>
  <input class="input-field" type="{{ type }}" name="{{ name }}" placeholder="{{ placeholder }}" value="{{ value }}">
</div>
